<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CatalogoITT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container">
            <div id="container-header">
                <figure class="logo_tecnm">
                    <img src="~/img/logo_tecnm.png" alt="Logo del Tecnologíco Nacional de México" width="200">
                </figure>

                <div class="encabezado">
                    <div class="instituto">
                        <h3>Instituto Tecnolog&iacute;co de Tl&aacute;huac</h3>
                    </div>
                    <div class="acervo">
                        <h3>Acervo Bibliogr&aacute;fico</h3>
                    </div>
                </div>

                <figure class="logo_ittlahuac">
                    <img src="~/img/logo_itt.png" alt="Logo del Instituto Tecnologíco de Tláhuac" width="70">
                </figure>

            </div>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <section class="section-footer">
        <footer class="border-top footer text-muted"> 
           <div class="container-footer">
                <div class="copyrigth">
                    &copy; 2020 - IT-Tl&aacute;huac Centro de Informaci&oacute;n -
                </div>

                <figure class="figure_logo_sep">
                    <img src="~/img/logo_sep.png" alt="logo de la sep" width="200"/>
                </figure>
            
           </div>
        </footer>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
