@model CatalogoITT.Models.Libro

@{
    ViewData["Title"] = "Error";
}


<div class="container-error">
    <center>
        <p class="text-truncate">&iexcl;Lo sentimos, no se encontraron resultados de su b&uacute;squeda!</p>
    </center>
</div>
