@model IEnumerable<CatalogoITT.Models.Libro>

@{
    ViewData["Title"] = "Index";
}

<h1>Resultados de la b&uacute;squeda</h1>


@foreach (var libro in Model)
{
   <partial name="LibroSimple" model="libro"/> 
}
    
<!--
<a asp-action="Edit" asp-route-id="item.libro_id">Edit</a> |
<a asp-action="Details" asp-route-id="item.libro_id">Details</a> |
<a asp-action="Delete" asp-route-id="item.libro_id">Delete</a>
    -->
