/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/*body {
  Margin bottom by footer height 
  margin-bottom: 60px;
}*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
body {
    margin: 0;
    background-color: #FFF;
}

#container-header {
    width: 100%;
    padding: 0;
    text-align: center;
    border: 1px solid #DDD;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -.2;
    margin: 0px 0px;
    /*text-transform: uppercase;*/
}

.logo_tecnm {

    width: 200px;
}

.logo_ittlahuac {
    margin-left:127px;
    margin-right:3px;
    width:70px;
}

.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-interfaz {
    width: 100%;
    display: flex;
    flex-direction: row;
    /*margin-top:50px;*/
    margin-bottom: 50px;
    align-items: center;
    justify-content: center
}
.search-select{
    height:38px;
    font-size:16px;
    width:150px;
    text-align:start;
    
}
#search-text {
    margin-left:0px;
    height: 38px;
    width: 300px;
    font-size: 16px;
    font-weight: 400;
}
#search-button {
    height: 38px;
    width: 103px;
    color: white;
    font-size: 16px;
    background-color: #00B568
}
    #search-button:hover {
        background-color: #00754A
    }
.title_form{
    color:#00B268
}

.container-search {
    
}
.container-logo-ci{
    margin:10px 10px 10px 10px
}
.text-center{
    margin-top:50px;
    height:400px;
    display:flex;
    flex-direction:column;
    align-items:center
}
.interfaz_busqueda {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1170px;
    height: 154px;
    background-color: #fff;
}

#buscar {
    height: 34px;
    width: 220px;
    background-color: #fff;
    border: 1px solid #ccc;
}


.container-footer {
    display: flex;
    /*margin: 0 auto;*/
    justify-content: center
}
.container{
    margin-bottom:auto;
}
.section-footer{

}


/*Vista parcial LibroSimple*/
.container-libro {
    padding: 12px 12px 12px 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #DDD;

}
